<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb18030">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv=¡±Content-Type¡± content=¡±text/html; charset=UTF-8¡å/>
    <meta name="keywords" content="Mascotas, seguridad, seguridad mascotas, geolocalizacion para mascotas">
    <title> Pago terminado | Mascota Segura | Protege a quienes amas</title>
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/mdb/css/bootstrap.css" rel="stylesheet">
    <link href="../css/mdb/css/mdb.css" rel="stylesheet">
    <link href="../css/mdb/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="../css/home.css" rel="stylesheet">
    <style>
        .btn .fa.fa-sm {
            font-size: 1rem;
            margin-top: -5px;
        }
    </style>
</head>
<body>

<div style="margin-top: 3pc;"></div>


<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card card-cascade narrower ">
                <div class="view view-cascade gradient-card-header  blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
                    <a href="" class="white-text mx-3 justify-content-center">Mascota Segura</a>
                </div>
                <div class="px-4">
                    <div class="table-wrapper">
                        <table class="table table-hover mb-0">
                            <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td>Empresa</td>
                                <td>A1 Cards</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>NIT</td>
                                <td>8301371166</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Fecha</td>
                                <td><%- fecha %></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Estado</td>
                                <td><%- estado %></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Referencia de pedido</td>
                                <td><%- referenciaPedido %></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Referencia de transaccion</td>
                                <td><%- referenciaTransaccion %></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>N&uacutemero de transacci&oacuten/CUS</td>
                                <td><%- numeroTransaccion %></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Banco</td>
                                <td><%- banco %></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Valor</td>
                                <td><%- valor %></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Moneda</td>
                                <td><%- moneda %></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Descripcion</td>
                                <td><%- descripcion %></td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>IP Origen</td>
                                <td><%- ipOrigen %></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="text-center">
                    <a type="button" href="../comprar" class="btn btn-yellow btn-sm">Reintentar transacci&oacuten</a>
                    <a type="button" href="../" class="btn btn-dark-green btn-sm">Finalizar transacci&oacuten</a>
                    <button type="button" onclick="window.print()" class="btn btn-cyan btn-sm">Imprimir comprobante</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<div style="margin-top: 5pc;"></div>

<script type="text/javascript" src="../js/mdb/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/mdb/js/popper.min.js"></script>
<script type="text/javascript" src="../js/mdb/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/mdb/js/mdb.min.js"></script>

<script type="text/javascript">
    new WOW().init();
</script>
<script src="../js/home.js"></script>
<script type="text/javascript">
    var pagina = "Pago terminado";
</script>
</body>
</html>

